[*.cs]

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = silent

[*.{cs,vb}]
tab_width=2
indent_size=2
indent_style=space