[*.cs]

# CSLA0008: Evaluate Managed Backing Fields
dotnet_diagnostic.CSLA0008.severity = silent

# CSLA0003: Find CSLA Business Objects That do not Have Public No-Arugment Constructors
dotnet_diagnostic.CSLA0003.severity = silent
