.list-grid.grid-2col {
	display: grid;
	width: 38rem;
	overflow: auto;
	grid-template-columns: 1fr 10rem;
	border: 1px solid #dee2e6;
}

.list-grid div {
	border-bottom: 1px solid #dee2e6;
	min-height: 3rem;
	padding: 0.7rem;
}

.list-grid .list-grid-header {
	position: sticky;
	top: 0;
	background: rgba(255, 255, 255, 1);
	font-weight: bold;
}
